<h1>Data Seluruh karyawan PT Konoha Makmur Sentosa</h1>
<style>
    .padding-td {
        padding: 5px;
    }
</style>
<hr>
<a href="/karyawan/tambah">
   <button style="margin-bottom: 5px; background-color: lightblue ;">
    Tambah
    </button> 
</a>
<table border="2">
    <thead>
        <tr>
            <th>Nama</th>
            <th>gender</th>
            <th>Alamat</th>
            <th>NIP</th>
            <th>Departemen</th>
            <th>Agama</th>
            <th class="padding-td" colspan="3">View</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < karyawan.length; i++) {%>
            <tr>
                <td class="padding-td"><%= karyawan[i].nama%></td>
                <td class="padding-td"><%= karyawan[i].gender%></td>
                <td class="padding-td"><%= karyawan[i].alamat%></td>
                <td class="padding-td"><%= karyawan[i].nip%></td>
                <td class="padding-td"><%= karyawan[i].departemen_id%></td>
                <td class="padding-td"><%= karyawan[i].agama_id%></td>
                <td> 
                    <a href="/karyawan/detail/<%= karyawan[i].id %>">
                    <button>Lihat Detail</button>
                    </a>
                </td>
                <td class="padding-td">
                    <a href="/karyawan/edit/<%= karyawan[i].id %>">
                        <button style="background-color: yellow;">Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/karyawan/hapus/<%= karyawan[i].id %>" onclick="return confirm('Yakin mau hapus <%= karyawan[i].nama%>??')">
                        <button style="background-color: red ; color: white;">Hapus</button>
                    </a>
                </td>
            </tr>
            <%}%>

    </tbody>
       
</table>
<!-- <%= JSON.stringify(karyawan) %> -->